.contenedor-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.notification {
    margin-top: -18px;
    height: 8%;
}

#main-content {
    background-color: white;
    min-height: 100vh;
}

.grid-1 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: black;
    min-height: 10vh;
    background-color: rgb(198, 108, 74);
}

.subgrid2 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 70%;
}

.content-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
    width: 30%;
}

.rows {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#links {
    color: black;
}

.grid-2 {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    min-height: 90vh;
    background-image: url("human.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Colum-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    min-height: 90vh;
    background-color: white;
    height: 20px;
    overflow-y: scroll;
}

.content-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 13vh;
}

.content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 55%;
    min-height: 5vh;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    width: 45%;
    min-height: 9vh;
}

.h4-footer {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: 2%;
}

#information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    min-height: 10vh;
}

.link-footer a {
    color: black;
}

.icon {
    margin-left: 2%;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Country-user {
    width: 63%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    min-height: 10vh;
}

.text-country {
    flex-direction: row;
    display: flex;
    align-items: center;
    min-height: 5vh;
}

#textfield {
    border: 2px solid grey;
    width: 30%;
    height: 4vh;
}

.hr {
    border: 0.8px solid rgba(46, 43, 43, 0.6);
    width: 95%;
}

.user-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.boton {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#Button-contract {
    background-color: rgb(32, 39, 57);
    color: white;
    border: rgb(32, 39, 57);
    width: 70%;
}

#sidebar {
    display: none;
}

nav {
    display: block !important;
}

.navbar-header {
    position: relative;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header h1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.navbar-header button {
    margin-top: 0;
    display: block;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    z-index: 10;
}

nav {
    flex-direction: column;
    background-color: rgb(32, 39, 57);
    color: white;
}

.rows h3 {
    margin: 0;
}

.icono-globo {
    font-size: 40px;
    margin: 0 30px;
}

.title {
    margin: 40px 0 20px 0;;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(4, 4, 73);
    color: white;
}

.ordenar {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 10px 0;
    align-items: center;
}

.ordenar a {
    font-size: 18px;
    width: 180px;
}

.sub-ordenar {
    display: flex;
    align-items: center;
}

.opciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    height: 90px;
    padding-top: 5px;
    width: 100%;
}

.busqueda {
    margin: 30px 5px 20px 5px;
    width: 80%;
}

.busqueda form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buscar {
    width: 80% !important;
}

.buscar-b {
    border-color: rgb(3, 3, 46);
    color: rgb(3, 3, 46);
}

.mensaje {
    width: 100%;
    margin: 8px 0 25px 0;
    padding: 15px 40px;
    background-color: rgb(161, 160, 160);
}

.sub-mensaje {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(3, 3, 46);
    color: white;
    margin: 25px 0.25em 0 0;
    
}

.sub-nombre {
    display: flex;
    align-items: center;
}

.sub {
    display: flex;
    justify-content: space-around;
}

.pre-caja {
    width: 80%;
}

.caja {
    border-radius: 20px;
    background-color: white;
    color: rgb(3,3,46);
    padding: 20px;
    width: 100%;
}

.caja-d {
    content:"";
    width: 0;
    height: 0;
    margin: -1px 0 0 80%;
    border-top: 20px solid white;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

.circulo {
    font-size: 50px;
    margin: 10px;
}

.caja-i {
content:"";
width: 0;
height: 0;
margin: -1px 0 0 8%;
border-top: 20px solid white;
border-right: 18px solid transparent;
border-left: 18px solid transparent;
}

.ver{
    display: flex;
    justify-content: flex-end;
    margin: 1px 15px 0 0;
    flex-direction: column;
    color: white;
}

.ver a {
    text-align: end;
}
.ver h6 {
    text-align: end;
}

.informacion {
    padding: 10px 20px;
}

#sidebar {
    justify-content: space-between;
}

.sidebar-header {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: rgb(225, 236, 227);
    font-size: 3rem;
    color: white;
}

.h5 {
    font-size: 1.5rem;
}

.int-link a {
    margin-left: 0.2rem;
    padding: 0.3rem;
    font-size: 1.8rem;
    display: block;
    color: #ddd !important;
    text-decoration: none;
}

.options {
    text-align: center !important;
    height: 30%;
    display: flex;
    flex-direction: column;
    color: rgb(225, 236, 227);
    margin-bottom: 20%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-options {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

int-link a:active,
.int-link a:hover {
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.63);
    color: white !important;
}

.buscar-b:hover {
    background-color: rgb(3, 3, 46);
    border-color: rgb(3, 3, 46);
    color: white;
}

.logos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-task {
    width: 100%;
}

.logo-task2 {
    width: 120px;
}

@media(min-width: 768px) {
    #sidebar {
        padding: 2rem 1rem;
        flex-direction: column;
        display: flex;
        position: fixed;
        background-color: rgb(3, 3, 46);
        color: white;
        width: 16%;
        height: 100vh;
    }
    nav {
        display: none !important;
    }
    #main-content {
        margin-left: 16%;
        width: 84%;
        min-height: 100vh;
    }
    .subgrid2 {
        width: 30%;
    }
    .content-grid {
        width: 70%;
    }
}

@media(max-width: 468px) {
    #Buscar {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    .caja-d {
        margin: -1px 0 0 60%;
    }

    .caja-i {
        margin: -1px 0 0 15%;
    }

    .sub {
        flex-direction: column;
    }

    .ordenar {
        flex-direction: column;
    }

    .sub-ordenar {
        margin-top: 15px;
    }

    .opciones {
        margin-left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1210px) {
    .options {
        padding: 0;
    }

    .h5 {
        font-size: 1.3rem;
        text-align: center;
    }

    .int-link a {
        margin-left: 0.1rem;
        padding: 0.3rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .int-link a {
        font-size: 1.1rem;
    }
}

@media(max-width: 1230px) {
    .ordenar {
        flex-direction: column;
        text-align: center;
    }

    .sub-ordenar {
        margin-top: 10px;
    }
    .caja-d {
        margin: -1px 0 0 75%;
    }

    .caja-i {
        margin: -1px 0 0 15%;
    }

    .mensaje {
        padding: 20px;
    }
}


@media(max-width: 549px) {
    .sub-ordenar {
        flex-direction: column;
        margin-top: 10px;
    }
}

@media(max-width: 1000px) {
    .arrow {
        height: 1.9em;
    }
}

@media(max-width: 880px) {
    .arrow {
        margin-top: 40px;
        height: 1.8em;
    }
}

@media(max-width: 700px) {
    .arrow {
        margin-top: 40px;
        height: 1.7em;
    }
}

@media(max-width: 660px) {
    .pre-caja {
        width: 95%;
    }

    .sub-mensaje {
        flex-direction: column;
        align-items: center;
    }

    .arrow {
        margin: 5px 0 20px 0;
        width: 1.7em;
        height: 1.7em;
    }
}